# http://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 80

Language: Cpp

AccessModifierOffset: 2
AlignAfterOpenBracket: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
DerivePointerAlignment: false
MaxEmptyLinesToKeep: 2
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false

DisableFormat: false
