# An example PKGBUILD script for Civetweb upstream, git version
# Rename to PKGBUILD to build via makepkg
_pkgname=civetweb
pkgname=$_pkgname-git
pkgver=20130820
pkgrel=1
pkgdesc="Small and quick-to-use web server; https/php/cgi support; MIT license - git development version"
arch=('i686' 'x86_64')
url="http://sourceforge.net/p/civetweb/"
license=('MIT')
groups=()
depends=()
makedepends=('git')
optdepends=('php-cgi: for php support')
provides=("$_pkgname")
conflicts=("$_pkgname")
backup=("etc/$_pkgname/$_pkgname.conf")
source=("$_pkgname::git+https://github.com/sunsetbrew/civetweb.git")
md5sums=('SKIP')

#pkgver() {
#  cd "$srcdir/$_pkgname"
#  echo "0.$(git rev-list --count HEAD).$(git describe --always)"
#}

build() {
  cd "$srcdir/$_pkgname"
  make build WITH_IPV6=1 WITH_LUA=1
}

package() {
  make install "PREFIX=$pkgdir" TARGET_OS=LINUX
  install -d -m 755 "$pkgdir/usr/lib/systemd/system"
  install -m 644 "$srcdir/$_pkgname/distribution/arch/$_pkgname.service" "$pkgdir/usr/lib/systemd/system/$_pkgname.service"
}

# vim:set ts=2 sw=2 et:
